---
layout: page
key: b2185870-27570c434f92-67f7-32b9-27570c434f92
title: Categories
subtitle: Content categories, which describe common rules shared by many CSS elements.
description: Every Skeletonic CSS element is a member of one or more content categories — these categories group elements that share common characteristics.
keywords: categories, cards, containers, content, css, css cards, flexible, flexbox layout, framework, front-end, front end, grid system, light weight, mobile-first, modern, responsive, skeletonic, skeletonic.css
image: /assets/images/components/categories.min.svg
author: Sebastien Rousseau
categories: [components]
section: categories
tags: [categories, cards, containers, content, css, css cards, flexible, flexbox layout, framework, front-end, front end, grid system, light weight, mobile-first, modern, responsive, skeletonic, skeletonic.css]
status: publish
type: page
published: true
meta: {categories, cards, containers, content, css, css cards, flexible, flexbox layout, framework, front-end, front end, grid system, light weight, mobile-first, modern, responsive, skeletonic, skeletonic.css}
date: 2021-06-12T11:12:10.595Z
robots: all
---

<!-- Categories -->
{% if site.categories[page.category] %}
    {% for page in site.categories[page.category] %}         
        {% assign size = size | plus:1 %}
    {% endfor %}
{% endif %}
<section class="grid-flex text-left">
    <div class="flex-12" markdown="1">
        <h4>Category directory: {{ page.category | capitalize }}</h4>        
        <p>The following {{ size }} pages are in this category, out of {{ site.pages.size }} total.<p>
        <ul class="disc">
        {% for page in site.categories[page.category] %}
            <li><a href="{{ page.url }}">{{ page.title }}</a><br />{{ page.description }}</li>
        {% endfor %}
        </ul>
</div>
</section>
<!-- End Categories -->