<footer class="center text-center" aria-label="footer">
    <div id="footer">
    
        <hr class="hr-text" data-content="Footer" />

        <p>Copyright &#169; Sebastien Rousseau 2021. All rights reserved.</p>
        
        <p><small>This page was last edited on the <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_xmlschema }}</time>.</small></p>
        
        <p>
            <a href="/terms.html" class="link-3">Terms and Conditions</a> -
            <a href="/privacy.html" class="link-3">Privacy Policy and Disclaimer</a> -
            <a href="/cookies.html" class="link-3">Cookie Policy</a>
        </p>

        {% include analytics.html %}    

    </div>
</footer>