<div id="banner" role="banner">

<h1 class="header">
    {{ page.title | escape }}
</h1>

<figure>
    <a href="{{ " / " | site_url }}" tabindex="0">
        <img src="{{ site_url }}/assets/images/image-icon/logo.min.svg" id="skeletonic" alt="Logo of {{ page.title | escape }}" width="583" height="438" class="logo" />
    </a>
    <figcaption>{{ page.title | escape }}</figcaption>
</figure>

<h2><em>{{ page.subtitle | escape }}</em></h2>

<p>{{ page.description | escape }}</p>

<p>
    {% if page.section != "getting-started" %}
        <a href="{{ site_url }}/getting-started.html" class="button primary">Get Started</a>
        <a href="https://github.com/sebastienrousseau/skeletonic-stylus/archive/refs/tags/v{{ site.version | escape }}.zip" class="button secondary">Download</a>
    {% else %}
        <a href="https://github.com/sebastienrousseau/skeletonic-stylus/archive/refs/tags/v{{ site.version | escape }}.zip" class="button primary">Download</a>
    {% endif %}
</p>

<p><em>Currently version {{ site.version | escape }}</em></p>
                        
<p class="promo-content"><em>Compatible with macOS, Windows, and Linux</em></p>
            
<hr class="hr-text" data-content="{{ page.title | escape }}" />

</div>