<h1 class="header">
    <span>{{ site.title | escape }}</span>
</h1>

<figure>
    <a href="{{ " / " | site_url }}" title="Logo of {{ site.title | escape }}">
        <img src="assets/images/image-icon/logo.min.svg" role="presentation" alt="Logo of {{ site.title | escape }}" width="583" height="438" class="logo" />
    </a>
</figure>

<h2><em>{{ page.subtitle | escape }}</em></h2>

<h3>{{ page.description | escape }}</h3>

<p>
    {% if page.section != "getting-started" %}
        <a href="{{ site_url }}/getting-started.html" class="button primary">Get Started</a>
        <a href="https://github.com/sebastienrousseau/skeletonic/archive/refs/tags/v{{ site.version | escape }}.zip" class="button secondary">Download Skeletonic CSS</a>
    {% else %}
        <a href="https://github.com/sebastienrousseau/skeletonic/archive/refs/tags/v{{ site.version | escape }}.zip" class="button primary">Download Skeletonic CSS</a>
    {% endif %}
</p>

<p><em>Currently version {{ site.version | escape }}</em></p>
                        
<p class="promo-content"><em>Compatible with macOS, Windows, and Linux</em></p>
            
<hr class="hr-text" data-content="{{ page.title | escape }}" />