<!-- Metatags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="{%if page.author %}{{ page.author | escape }}{% else %}{{ site.author | escape }}{% endif %}">
<meta name="keywords" content="{%if page.keywords %}{{ page.keywords | escape }}{% else %}{{ site.keywords | escape }}{% endif %}">
<meta name="description" content="{%if page.description %}{{ page.description | escape }}{% else %}{{ site.description | escape }}{% endif %}">
<meta name="robots" content="{{ page.robots }}">
<meta name="theme-color" content="{{ site.theme-color}}"/>

<!-- Integrating Open Graph -->
<meta property="og:title" content="{% if page.title %}{{ page.title | smartify | strip_html | strip_newlines | escape_once }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.url | replace:'/index.html','/' | prepend: site_url | prepend: site.url }}">
<meta property="og:image" content="{% if page.image %}{{ page.image | prepend: site_url | prepend: site.url }}{% else %}{{ site.logo | prepend: site_url | prepend: site.url }}{% endif %}">
<meta property="og:description" content="{%if page.description %}{{ page.description | escape }}{% else %}{{ site.description | escape }}{% endif %}">
<meta property="og:site_name" content="{%if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
<meta property="og:locale" content="{{ site.locale }}">

<!-- Integrating Facebook -->
{% if site.facebook %}
{% if site.facebook.admins %}
  <meta property="fb:admins" content="{{ site.facebook.admins }}">
{% endif %}
{% if site.facebook.publisher %}
  <meta property="article:publisher" content="{{ site.facebook.publisher }}">
{% endif %}
{% if site.facebook.app_id %}
  <meta property="fb:app_id" content="{{ site.facebook.app_id }}">
{% endif %}
{% endif %}

{% if page.date %}
<meta property="article:author" content="https://www.facebook.com/{{ site.author_facebook }}">
<meta property="article:modified_time" content="{% if page.last_modified_at %}{{ page.last_modified_at | date_to_xmlschema }}{% else %}{{ page.date | date_to_xmlschema }}{% endif %}">
<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
{% endif %}

{% if page.categories %}
{% for category in page.categories limit:1 %}
<meta property="article:section" content="{{ category }}">
{% endfor %}
{% endif %}

{% if page.tags %}
{% for tag in page.tags %}
<meta property="article:tag" content="{{ tag }}">
{% endfor %}
{% endif %}

<!-- Integrating Twitter cards -->
<meta name="twitter:card" content="{%if page.description %}{{ page.description | escape }}{% else %}{{ site.description | escape }}{% endif %}">
<meta name="twitter:site" content="@{{ site.twitter_username | replace:'@','' }}">
{% if page.date %}
<meta name="twitter:creator" content="@{{ site.twitter_creator | replace:'@','' }}">
{% endif %}
<meta name="twitter:title" content="{%if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
<meta name="twitter:description" content="{%if page.description %}{{ page.description | escape }}{% else %}{{ site.description | escape }}{% endif %}">
<meta name="twitter:image" content="{% if page.image %}{{ page.image | prepend: site_url | prepend: site.url }}{% else %}{{ site.logo | prepend: site_url | prepend: site.url }}{% endif %}">
<meta name="twitter:url" content="{{ page.url | replace:'/index.html','/' | prepend: site_url | prepend: site.url }}">

<!-- Integrating WebSchemas/Accessibility -->
<meta itemprop="accessibilityControl" content="fullKeyboardControl">
<meta itemprop="accessibilityControl" content="fullMouseControl">
<meta itemprop="accessibilityHazard" content="noFlashingHazard">
<meta itemprop="accessibilityHazard" content="noMotionSimulationHazard">
<meta itemprop="accessibilityHazard" content="noSoundHazard">
<meta itemprop="accessibilityAPI" content="ARIA">