{% for page in site.pages %}
    {% for categorymenu in page.categories %}
        {% unless categorymenu contains 'features' %} 
            {% assign categorymenucloud = categorymenucloud | append:categorymenu | append:', ' %}
        {% endunless %}    
    {% endfor %} 
{% endfor %} 

{% assign categorymenucloud = categorymenucloud | split:", " | uniq | sort %}

<section id="navigation">
    
    <input type="checkbox" class="hamburger" id="hamburger" name="hamburger">
    <label title="Open the menu" for="hamburger" class="hamburger-toggle cl-white" aria-hidden='true'>
        <span class="hidden" aria-hidden='true'>Main menu</span>
        <span class="spinner diagonal part-1"></span>
        <span class="spinner horizontal"></span>
        <span class="spinner diagonal part-2"></span>        
    </label>
    
    <nav id="sidebar" role="navigation">
        <ul class="nav">
        {% for categorymenu in categorymenucloud %}
            <li>
                <a href="{{ site_url }}/">{{ categorymenu | capitalize }}</a>
            <ul>
            {% for page in site.pages %}    
                {% for pc in page.categories %}        
                    {% if pc == categorymenu %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endif %}    
                {% endfor %}   
            {% endfor %} 
            </ul>
            </li>
        {% endfor %}  
        </ul>
    </nav>

</section>